DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=codeFather2000!
DB_NAME=dbCartillas
DB_ENCRYPT=false
DB_TRUST_CERT=true
DB_DATAMART_HOST=
DB_DATAMART_PORT=1433
DB_DATAMART_USER=
DB_DATAMART_PASSWORD=
DB_DATAMART_NAME=
